<xsd ns:"https://bla/namespace/xy"></xsd>
<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        {{ posts }}

        {% for post in posts %}
            <article>
                <h2><a href="">{{ post.title }}</a></h2>
                <time>published: {{ post.published_date }}</time>
                <br/>
                <br/>
                <text>{{post.text|linebreaksbr}}</text>
            </article>
            <br/>
            {{ post.author }}
        {% endfor %}

       
    </body>
</html>